﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar-inverse navbar-fixed-top" style="background-color:#085394">
        <div class="container" style="margin-top:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lol Meta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>
                    </li>
                    <li>@Html.ActionLink("Oyun Bilgisi", "About", "Home")</li>
                    <li>@Html.ActionLink("Meta Şampiyonları", "Contact", "Home")</li>
                    <li>@Html.ActionLink("İstatislik", "Contact", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="padding-top:10px">
                    <li style="margin-right:10px;">
                        <form action="" class="search-form" >
                            <div class="form-group has-feedback" style="margin-bottom:10px;">
                                <label for="search" class="sr-only">Search</label>
                                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    </li>
                    <li style="margin-right:5px;">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Dil</button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TR</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EN</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" id="girisButonu" class="btn" style="margin:0px 5px;padding-top:5px;padding-bottom:5px;" role="button">Giriş</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="footer" style="background-color:white">
                <div class="container">
                    <center>
                        <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
                        <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
                        <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
                        <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a></center>
    </span>
</div>
            </div>
            <center><p style="color:black">&copy;Lol-Meta @DateTime.Now.Year - Tüm Hakları Saklıdır</p></center>
            <center><p style="color:black">Oyuna dair kullanılan resimler ve statik bilgiler tamamıyla League of Legends yapımcısı Riot Games'e aittir.</p></center>
            <center><p style="color:black">Geriye kalan rehberler, bloglar, meta şampiyonları listesi ve bazı resimler de tamamıyla Lol-Meta'a attir ve tüm haklar saklıdır.</p></center>
            <center><p style="color:black">Lol-Meta'un Riot Games ile doğrudan veya dolaylı olarak bir ilgisi yoktur ve Riot Games tarafından desteklenmemektedir. League of Legends ve Riot Games, Riot Games, Inc. şirketinin tescilli markasıdır.</p></center>
</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
